/* ======= colors ======= */

$mainColor: #2c7c8d; //blue

$background: #fbf9f0; //ivory

$text: #000; //black

$lightText: lighten($text, 30);
$linkColor: darken($mainColor, 5);

$yellow: #fcc23b;

$pink: #fc72a7;

$orange: #f79351;

$blueSoft: #569aad;

$green: #63b864;


/* ======= fonts ======= */

$text: 'Bentham', serif;

$headings: 'Oswald', sans-serif;
