html {
  font-size: 16px;
}

body {
    background-color: lightblue;
}

@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-color: yellow;
    }
}

/*set width of entire site container*/
.site {
  width: 80%;
  margin: 40px auto;
}
